
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


:root{
    font-size: 62.5%;
    
    --color-base01:#065E7C;
    --colo-base02:#202024;
    --color-baseP03:#121214;
    --color-baseBc04:#F4FCFF;
    
    
}

body {
    font-size: 1.6rem;
    font-family: 'Mulish', sans-serif;

    background-color:var(--color-baseBc04);
}

.container{
    width: 43rem;
    height: 100vh;

    margin: auto;

    
}

.container header{
    width: 100%;
    height: 7.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    background-color: var(--color-base01);
}

header .logo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: .8rem;
    background-color: white;
}

.input-wrapper label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}
.input-wrapper input{
    width: 100%;
    height: 4rem;
    background: rgba(255, 255, 255, 0.20);
    border: none;
    border-radius: .4rem;
    align-items: center;


    padding: 1.2rem 1.6rem;

}

.input-wrapper input::placeholder{
    font-family: 'Mulish' , sans-serif;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
}

header .avatar{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

.cat{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;

}


main{
    padding:3.1rem 2.6rem 0 2.2rem ;                         ;
}
.button-bar h1{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--colo-base02);
    margin-top: 3.2rem;
}

.thumbs-buttons{
    display: flex;
    gap: 1.2rem;
}
.thumbs-buttons button{
    background-color: var(--color-base01);
    border: none;
    padding: 1.6rem;
    border-radius: 50%;
    margin-top: .8rem;

    
}

.thumbs-buttons button:hover{
    background-color: rgb(23, 164, 211);
}


main p{
    margin-top: 3.2rem;
    color: var(--color-baseP03);
    font-size: 1.6rem;
    font-weight: 400;
}
aside{
    padding: 3.1rem 2.6rem 3.2rem 2.2rem ; 
}


.blogs {
    width: 38.2rem;
    height: 8.6rem;
    display: flex;
    margin-top: 3.2rem;

}

.blogs img{
    width: 15.1rem;
    height: 8.4rem;
    margin-right: 1.6rem;
    aspect-ratio: 16/9;
    object-fit: cover;




}

figcaption{
    height: 8rem;
}
figcaption h1{
    
    font-size: 1.8rem;

}

figcaption p{
    font-size: 1.4rem;
    padding-top: .8rem;
    width: 21.5rem;

    height: 5.4rem;
    color: var(--color-baseP03);
    line-height:140%;


}

footer{
    width: 100%;
    height: 6.4rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


    background-color: var(--color-base01);
    
    
    
}

footer p{    
    width: 100%;
    height: 1.1rem;
    font-family: 'Mulish';
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
}

@media (min-width:770px) {
  

    .container{
        width: 100vw;
        display: grid;
        grid-template-areas: 
        "header header header"
        "cat cat aside"
        "main main aside"
        "footer footer footer";




        gap: 3.2rem;
        
    }

    .container header{
        grid-area: header;
        max-width: 100%;
        grid-template-columns: repeat(3, 4rem 1fr 4rem );
        justify-content: space-between;
        padding: 1.2rem 11.2rem;
        gap: 2.6rem
    
    }

header .input-wrapper{
    width: 100%;
}


    
 .container main{
        grid-area: main;

        
        width: fit-content;
        height:38.2rem;
        margin-left: 11.2rem;
        padding: 0;


       
        
    }
    

    .cat{
        grid-area: cat;
        margin-top:1rem;
        margin-left: 11.2rem;

        width: 80rem;
        height: 40rem;
        object-fit: cover;
            


    
    }

    .container main .button-bar{
        width: 80rem;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        
    }

    .thumbs-buttons button{
        width: 4rem;
        height: 4rem;
        padding: 1.2rem;
        margin: 0;
        
    }
   
    main p{
        width: 80rem;
        height: 36.4rem;
        margin-top: 3.2rem;
    }

    .container aside{
        grid-area: aside;

        width: fit-content;
        height: 61.4rem;
        margin-right: 11.2rem;
       padding: 0;

    }

    aside h2{
        font-size: 2.4rem;
    }



    .container footer{
        grid-area: footer;
        width: 100%;
    }
}

header{
    --startY: -100%;
    animation: move .5s;
}

footer{
    --startY: 100%;
    animation: move .5s;
}

@keyframes move{
    from{
        transform: translateY(var(--startY));
    }
}
